.BurgerConstructor {
  width: 100%;
}

.DropContainer {
  height: fit-content;
  border: 1px solid transparent;
}

.IngredientList {
  margin: 0;
  padding: 0;
  max-height: calc(100vh - 536px);
  overflow-y: scroll;
}

.IngredientItem {
  margin-left: 32px;
  padding-right: 16px;
}

.PriceWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.IngredientItem {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;
}
