.Tabs {
  display: flex;
}

.Ingredients {
  height: calc(100vh - 284px);
  overflow-y: scroll;
}

.List {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.Card {
  max-width: 272px;
  list-style: none;
}

.CardImage {
  display: block;
  margin: 0 auto 4px;
}

.CardCost {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.CardTitle {
  text-align: center;
  min-height: 48px;
}