body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.constructor-wrapper {
  display: flex;
  gap: 40px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.EmptyIngredient {
  width: 100%;
}

.EmptyIngredient .constructor-element__image {
  display: none;
}

.EmptyIngredient .constructor-element__price {
  display: none;
}

.EmptyIngredient .constructor-element__action {
  display: none;
}

.EmptyIngredient .constructor-element__text {
  justify-content: center;
  padding-top: 12px;
}

.PageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 140px 0 0 0;
  position: relative;
}

.Link {
  color: #4C4CFF;
  text-decoration: none;
}

.PageWrapper .ErrorText {
  position: absolute;
  bottom: 80px;
  color: red;
  text-align: center;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}